body {
    background-color: black;
    min-height: 100vh;
    width: auto;!important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.bg-black {
    background-color: black;
    width: 100%;
}
main {
    width: auto;
    min-height: 100vh;
}
.bg-image {
    background-image: url(src/bg_0.png);
    background-color: black;
    background-position: 0 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-image-reg {
    background-image: url(src/reg.png);
    background-color: black;
    background-position: 100% 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-image-prf {
    background-image: url(src/profile.svg);
    background-color: black;
    background-position: 100% 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-image-com {
    background-image: url(src/commands.svg);
    background-color: black;
    background-position: 0 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-image-reg >div {
    min-height: 91.5vh;
}
.top-bg-img {
    width: 100vw;
}

@font-face {
    font-family:progresspixel-bold; /* Гарнитура шрифта */
    src:  url(src/progresspixel.ttf); /* Для остальных браузеров */
}

.font-declarator {
    font-family: progresspixel-bold, serif;
    color: white;
}
.logo {
    height: 7vh;
    margin-right: 10px;
}

.screen-block {
    height: 100vh;
}

h1 {
    font-size: 6vh;
    text-shadow: 4px 4px black;
}
.h1_color {
    animation-name: run;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: linear-gradient(to bottom, #FF7A00, #FFF8B6); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
    text-shadow: none;
    filter: drop-shadow(4px 4px black);
    color: white;
    padding-bottom: 10px;
}
.big-text {
    font-size: 4vh;
    text-shadow: 4px 4px black;
    list-style-type: square;
}
.row {
    margin: auto;
}
li {
    color: #A1D2FF;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: auto;
    padding: 0;
}
.navbar-brand,.navbar-toggler {
    margin: 0 1em;
}
.navbar-toggler {
    margin-right: 1em;
    padding: 0;
    border-radius: 0;
    border-color: white;
    color: white;
    border-width: 2px;
    outline: None;
}
.nav-link:link {
    color: gray;
}

.nav-link:visited {
    color: gray;
}

.nav-link:hover {
    color: white;
}

.nav-link {
    font-size: 3vh;
}

.menu-link:link {
    color: white;
}

.menu-link:visited {
    color: white;
}

.invider {
    height: 5vh;
    margin-bottom: 2vh;
}

.small-text {
    font-size: 4vh;
}

.very-small-text {
    font-size: 2vh;
}

.bottom-registration {
    height: 50vh;
    background-image: url(src/registration_bg.png);
    background-size: cover;
    padding:10vh 0;
}
.howtoplay {
    height: 100%;
    background-image: url(src/howtoplay.svg);
    background-size: cover;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-repeat: no-repeat;
}
.botton-registration {
    border: 4px solid white;
    box-shadow: 2px 2px black;
    padding: 10px 20px 10px 20px;
    font-size: 5vh;
}

.botton-registration:link {
    color: white;
}

.botton-registration:visited {
    color: white;
}

.botton-registration:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.form-control {
    width: 75%;
    height: 3em;
    background: rgba(207, 207, 207, 1);
    border-radius: 0;
    cursor: pointer;
}
.btn-dark {
    border-radius: 0;
}
.centr {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centred {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    padding: 2vh 5vw;
    margin: 5vh 0;
}
.box .wid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.centred-text {
    text-align: center;
}
main div {
    height: auto;
}
.new {
    display: flex;
    align-items: center;
    justify-content: center;
}
.new span, .new span:hover{
    padding-left: 10px;
    outline: none;
    color: white;
    text-decoration: none;
}
.plus svg{
    height: 20px;
    width: 20px;
}
footer, footer a, footer a:hover{
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    height: 10vh;
    background: black;
    color: white;
    text-decoration: none;
    outline: none;
}
footer a:hover {
    padding-top: 5px;
}
footer svg {
    height: 30px;
    width: 30px;
    margin: 0 40px 0 20px;
}
.inactive {
    opacity: 0.5;
    cursor: pointer;
}
.inactive:focus,.inactive:hover,.inactive:active {
    outline: none;
    box-shadow: none;
}

/*карточка профиля и комманд*/
.main_block {
    padding-left: 12vw;
    width: 100%;
    height: 85vh;
    flex-shrink: 0;

    position: absolute;
    bottom: 0;
    background-color: transparent;
    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.blue_wrap {
    width: 400px;
    height: 85%;
    background-color: #536CA4;
    box-shadow: 3px 3px 0 3px #405688;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    flex-shrink: 0;

}
.element {
    width: 95%;
    height: 98%;
    background-color: #CCBEA7;
    box-shadow:inset -2px -2px 0 2px #A39682;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.head_element {
    width: 98%;
    height: 7%;
    background-color: #858483;
    margin:5% 0;
    box-shadow:2px 0 #6D6E6E;
    color: #CCBEA7;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head_element h5{
    text-align: center;
    margin: 0;
}
.el {
    width: 90%;
    height: auto;
    max-height: 100%;
    margin-left: 10px;
    flex-shrink: 0;
}
.el p {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0;
    color: #455774;
    overflow: hidden;
    word-wrap: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.el p:first-child {
    font-size: 23px;
    display: flex;
    align-items: center;
    margin:0 5px 0 10px;
    color: #686868;

}
.profile_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    transform: translateX(-50%) translateY(-50%);
}
.profile_box .element {
    width: 98%;
    height: 97%;
}
.profile_box .head_element {
    height: auto;
    width: 99.5%;
    box-shadow:5px 0 #6D6E6E;
}
.profile_box .head_element h3 {
    text-align: center;
}
.profile_box .el {
    margin-left: 6%;
}
.profile_box p {
    font-size: 25px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .h1_color {
        background: none;
        text-shadow: 4px 4px black;
        color: white;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 4vh;
        text-shadow: 4px 4px black;
    }
    .bottom-registration {
        font-size: 4vh;!important;
        width: 90vw;!important;
    }
    .very-small-text {
        font-size: 2.5vh;
    }
    .form-control{
        width: 90%;
        font-size: 0.9rem;
    }
    .head_element {
        height: auto;
        padding:5px 0;
    }
    .main_block {
        padding-top: 20px;
        width: 100%;
        height: 90vh;
        padding-left: 10%;
    }
    .blue_wrap {
        width: 90%;
        height: 90%;
    }
    .profile_box {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 90vw;
        height: 70vh;
        transform: translateX(-50%) translateY(-50%);
    }
    .profile_box .head_element {
        margin-top: 10%;
    }
    .profile_box h3 {
        text-align: center;
        font-size: 22px;
    }
    .profile_box p {
        font-size: 22px;
    }
}

@keyframes run {
    0% { transform: translateY(10px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(10px); }
}