.bg-black {
    background-color: black;
}

.bg-image {
    background-image: url(src/bg_0.png);
    background-color: black;
    background-size: 100vw auto;
    background-position: 0 0;
}
.top-bg-img {
    width: 100vw;
}

@font-face {
    font-family: AlundraText; /* Гарнитура шрифта */
    src: url(src/font.eot); /* Для IE5-8 */
    src: local(AlundraText), url(src/font.ttf); /* Для остальных браузеров */
}

.font-declarator {
    font-family: AlundraText, serif;
    color: white;
}

.logo {
    height: 5vw;
    margin-right: 10px;
}

.screen-block {
    height: 100vh;
}

h1 {
    font-size: 7vh;
    text-shadow: 4px 4px black;
}

.big-text {
    font-size: 5vh;
    text-shadow: 4px 4px black;
}

.nav-link:link {
    color: white;
}

.nav-link:visited {
    color: white;
}

.nav-link {
    font-size: 3vh;
}

.menu-link:link {
    color: white;
}

.menu-link:visited {
    color: white;
}

.invider {
    height: 5vh;
}

.small-text {
    font-size: 4vh;
}

.very-small-text {
    font-size: 2vh;
}

.bottom-registration {
    height: 50vh;
    background-image: url(src/registration_bg.png);
    background-size: 100vw auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.botton-registration {
    border: 4px solid white;
    box-shadow: 2px 2px black;
    margin-top: 25vh;
    padding: 10px;
    font-size: 5vh;
}

.botton-registration:link {
    color: white;
}

.botton-registration:visited {
    color: white;
}

.botton-registration:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.centred {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centred-text {
    text-align: center;
}